<h1>Jellybean Book Library</h1>
<!-- <p>Find me in app/views/books/index.html.erb</p> -->

<ul>
	<% @books.each do |book| %>
		<li> 
			<h3>
				<%= book.title %> </h3>
				<p> <%= link_to "Details", category_book_path(book.id) %>
					<%= link_to "Delete", category_book_path(book.id), :method =>:delete, :confirm => "This post will be deleted, are you sure?" %></p>
	</li>

	<% end %>

	<%= link_to "Add Book", new_category_book_path(book.id) %>


</ul>