<div id="main_container">

  <h1>Category: <%= @category.name %></h1>
  <ul>
   <% @category.books.each do |book|%>
   <li><%= book.title %><span><%= link_to " Details", category_book_path(@category.id, book.id)%></span></li>
   <% end %>
 </ul>

 <section id="add">
  <%= link_to "Add Books", new_category_book_path(@category.id)%>
</section>
</div>