<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<%= link_to "View book index", category_book_path(@category.id)%>
<%= link_to "Add Books", new_category_book_path(@category.id)%>